<h2>Olvidaste tu contraseña</h2>
<p>Ingresa tu correo, a continuacion:</p>
<form method="post" action="/api/sessions/forgotpassword">
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <button type="submit">Restablecer contraseña</button>
</form>
<hr>
<a href="/forgotpassword">
    <button>Restablecer constraseña</button>
</a>