<h2>Pagina de Registro</h2>
<form method="post" action="/api/sessions/register" enctype="multipart/form-data">
    <input type="text" placeholder="nombre" name="nombre"/>
    <br/><br/>
     <input type="text" placeholder="apellido" name="apellido"/>
    <br/><br/>
     <input type="number" placeholder="edad" name="edad"/>
    <br/><br/>
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="contraseña" name="password"/>
    <br/><br/>
    <input type="file" placeholder="Imagen de perfil" name="avatar">
    <br/><br/>
    <button type="submit">registrarse</button>
</form>
<hr>