<div>
    <div>
        <h1>Ticket Nº {{payload.code}}</h1>
        <h2>Comprador {{payload.purchaser}}</h2>
        <h2>Total: $ {{payload.amount}} </h2>
    </div>
    <a href="http://localhost:3000/products"> <button>Volver</button> </a>
</div>
